.familylayer1 {
  width: 610px;
  margin-top: 9px;
  overflow: hidden;
  .family1 {
    width: 620px;
  }
}

#animate1 {
  position: relative;
  top: -891px;
  left: 965px;
}

.familylayer2 {
  width: 385px;
  overflow: hidden;
  .family2 {
    width: 422px;
  }
}

.familylayer3 {
  margin-top: 3px;
  width: 385px;
  overflow: hidden;
  .family3 {
    width: 387px;
  }
}

// ============= Sceen Two Draw Me ============== //

.drawMe {
  width: 750px;
  position: relative;
  top: -42px;
  left: 115px;
}

#animate2 {
  position: relative;
  bottom: 1500px;
}

// ============= Sceen Three VCU ============== //

.vculayer1 {
  height: 300px;
  position: relative;
  top: 240px;
  left: 125px;
  z-index: 3;
  .vculogo {
    width: 700px;
  }
}

.vculayer2 {
  width: 945px;
  position: relative;
  top: -293px;
  .vcucommons {
    width: 963px;
    opacity: .25;
  }
}

// ============= Sceen Four Meet Jaiver ============== //

#animate4 {
  position: relative;
  top: 0px;
  left: 850px;
}

.ustogether {
  width: 692px;
  margin-top: 77px;
  margin-left: 136px;
}

.kandj2 {
  height: 100%;
  position: absolute;
  top: 227px;
  left: 533px;
  width: 100%;
  z-index: 1;
  .rings {
    width: 300px;
    margin-left: -109px;
  }
}

.kandj3 {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  .bible {
    width: 300px;
    margin-top: 150px;
    margin-left: 200px;
  }
}

.kandj4 {
  height: 100%;
  position: absolute;
  top: 9px;
  left:5px;
  z-index: 0;
  width: 100%;
  .paint {
    width: 600px;
    margin-top: 70px;
    margin-left: 150px;
  }
}

// ============= Scene Five Martin Ag ============== //

.ma-logo {
  position: absolute;
  top: 180px;
  left: 367px;
  opacity: .75;
}

.ma-building {
   margin-top: 56px;
   margin-left: 22px;
   width: 890px;
}

// ============= Scene Six Mac Talk ============== //

.hello {
  position: absolute;
  left: 405px;
  top: -25px;
  p {
    font-family: 'Oswald' Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3.55em;
    line-height: 1.25em;
  }
}

.apple3 {
  position: relative;
  width: 300px;
  margin-left: 35px;
  top: -20px;
}

.apple1, .apple2 {
  position: absolute;
  width: 125px;
  top: 220px;
  img {
    width: 150px;
  }
}

.apple1 {
  left: 42px;
}
.apple2 {
  left: 235px;
  transform: scaleX(-1);
}

.hello {
  left: 538px;
  top: -18px;
  text-align: center;
}

.talk {
  position: absolute;
  width: 405px;
  left: 35px;
  top: 98px;
  p {
    font-family: 'Oswald' Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    line-height: 1.15em;
    text-align: center;
  }
}

// ============= Scene Seven Jaiver Dies ============== //

.storytxt {
  position: absolute;
  top: 5px;
}

.umbrella {
  position: absolute;
  top: 120px;
  left: 293px;
  img {
  width: 600px;
  }
}

// ============= Scene Eight Freelance Carousel ============== //

.image-shown {
  display: inline-block;
}

.image-hidden {
  display: none;
}

.carousel-inner {
  width: 960px;
  height: 650px;
  position: relative;
  float: left;
  img {
    width: 100%;
  }
}
.carousel-outer {
  position: absolute;
  top: 5px;
}

.previousLink, .nextLink {
  position: absolute;
  top: 295px;
  z-index: 62;
  font-size: 2.25em;
  color: #EFEFE7;
  opacity: .75;
}

.previousLink {
  left: 6px;
}
.nextLink {
  left: 937px;
}

// ============= Scene Nine Meet Sharon ============== //

.frame {
  position: absolute;
  left: 92px;
  top: 11px;
  z-index: 3;
  img {
    height: 620px;
  }
}

.ksphoto {
  position: absolute;
  top: 22px;
  left: 131px;
  z-index: 1;
  img {
    width: 700px;
  }
}

.folio2a, .folio2b, .folio2c {
  width: 475px;
}

.folio3a, .folio3b, .folio3c
.folio4a, .folio4b, .folio4c {
  width: 475px;
}

.amari1, .amari2 {
  width: 960px;
}

.folio5a, .folio5b {
  width: 400px;
}
