// ============= Scene Five Martin Ag  Carousel ============== //

.image-shown0 {
  display: inline-block;
}

.image-hidden0 {
  display: none;
}

.carousel-inner0 {
  width: 960px;
  height: 650px;
  position: relative;
  float: left;
  img {
    width: 100%;
  }
}

.carousel-outer0 {
  position: absolute;
  top: 5px;
}

.previousLink0, .nextLink0 {
  position: absolute;
  top: 295px;
  z-index: 62;
  font-size: 2.25em;
  color: #EFEFE7;
  opacity: .75;
}

.previousLink0 {
  left: 6px;
  color: #D66B1D;
}
.nextLink0 {
  left: 937px;
  color: #D66B1D
}


// ============= Scene Six Mac Talk ============== //

.hello {
  position: absolute;
  left: 405px;
  top: -25px;
  p {
    font-family: 'Oswald' Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3.55em;
    line-height: 1.25em;
  }
}

.apple3 {
  position: relative;
  width: 300px;
  margin-left: 35px;
  top: -20px;
}

.apple1, .apple2 {
  position: absolute;
  width: 125px;
  top: 220px;
  img {
    width: 150px;
  }
}

.apple1 {
  left: 42px;
}
.apple2 {
  left: 235px;
  transform: scaleX(-1);
}

.hello {
  left: 538px;
  top: -18px;
  text-align: center;
}

.talk {
  position: absolute;
  width: 405px;
  left: 35px;
  top: 98px;
  p {
    font-family: 'Oswald' Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    line-height: 1.15em;
    text-align: center;
  }
}

// ============= Scene Seven Jaiver Dies ============== //

.storytxt7 {
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.45em;
  line-height: 1.25em;
  width: 500px;
  position: absolute;
  top: 230px;
  color: #c7c6c6;
  left: 74px;
  z-index: 26;
}

.umbrella {
  position: absolute;
  top: 49px;
  left: 238px;
  img {
  width: 680px;
  }
}
