.familylayer1 {
  width: 610px;
  margin-top: 9px;
  overflow: hidden;
  .family1 {
    width: 620px;
  }
}

#animate1 {
  position: relative;
  top: -891px;
  left: 965px;
}

.familylayer2 {
  width: 385px;
  overflow: hidden;
  .family2 {
    width: 422px;
  }
}

.familylayer3 {
  margin-top: 3px;
  width: 385px;
  overflow: hidden;
  .family3 {
    width: 387px;
  }
}

// ============= Sceen Two Draw Me ============== //

.drawMe {
  width: 750px;
  position: relative;
  top: -42px;
  left: 115px;
}

#animate2 {
  position: relative;
  bottom: 1500px;
}

// ============= Sceen Three VCU ============== //

.vculayer1 {
  height: 300px;
  position: relative;
  top: 240px;
  left: 148px;
  z-index: 3;
  .vculogo {
    width: 620px;
  }
}

.vculayer2 {
  width: 945px;
  position: relative;
  top: -293px;
  .vcucommons {
    width: 963px;
    opacity: .25;
  }
}

// ============= Sceen Four Meet Jaiver ============== //

#animate4 {
  position: relative;
  top: 0px;
  left: 850px;
}

.ustogether {
  position: absolute;
  width: 755px;
  top: 50px;
  left: 107px;
  z-index: 1;
}
