// ============= Scene Thirteen Boombox ============== //
.bbox {
  position: absolute;
  top: -33px;
  left: 112px;
  img {
    width: 636px;
  }
}

.boomtype {
  position: absolute;
  top: -38px;
  left: 1px;
  font-family: 'Oswald' Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3.8em;
  color: #377A91;
}

.tiya {
  position: absolute;
  top: 21px;
  left: 45px;
  font-family: 'Roboto Condensed' Helvetica sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bubble {
  position: absolute;
  top: 4px;
  left: 509px;
  z-index: 1;
  img{
    width: 354px;
  }
}

#animate13 {
  position: relative;
  left: -837px;
  top: 185px;
}

#animate13a {
  position: relative;
  left: 962px;
  top: 259px;
}

#animate13b {
  position: relative;
  left: 91px;
  top: -138px;
}

// ============= Scene Thirteen Boombox ============== //


.folio5a {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 411px;
}

.folio5b {
  position: absolute;
  top: 20px;
  left: 453px;
  width: 310px;
}

.folio5c {
  position: absolute;
  top: 19px;
  left: 797px;
  width: 143px;
}

.folio5d {
  position: absolute;
  top: 42px;
    left: 790px;
  width: 143px;
}

.folio5e {
  position: absolute;
  top: 222px;
  left: 452px;
  width: 394px;
}
