
// ============= Scene Eight Freelance Carousel ============== //

.image-shown {
  display: inline-block;
}

.image-hidden {
  display: none;
}

.carousel-inner {
  width: 960px;
  height: 650px;
  position: relative;
  float: left;
  img {
    width: 100%;
  }
}

.carousel-outer {
  position: absolute;
  top: 5px;
}

.previousLink, .nextLink {
  position: absolute;
  top: 295px;
  z-index: 62;
  font-size: 2.25em;
  color: #EFEFE7;
  opacity: .75;
}

.previousLink {
  left: 6px;
}
.nextLink {
  left: 937px;
}

// ============= Scene Nine Meet Sharon ============== //

.frame {
  position: absolute;
  left: 92px;
  top: 11px;
  z-index: 3;
  img {
    height: 620px;
  }
}

.ksphoto {
  position: absolute;
  top: 22px;
  left: 131px;
  z-index: 1;
  img {
    width: 700px;
  }
}

// ============= Scene Ten Saatchi Carousel  ============== //

.image-shown2 {
  display: inline-block;
}

.image-hidden2 {
  display: none;
}

.carousel-inner2 {
  width: 960px;
  height: 650px;
  position: relative;
  float: left;
  img {
    width: 100%;
  }
}

.carousel-outer2 {
  position: absolute;
  top: 5px;
}

.previousLink2, .nextLink2 {
  position: absolute;
  top: 295px;
  z-index: 62;
  font-size: 2.25em;
  color: #EFEFE7;
  opacity: .75;
}

.previousLink2 {
  left: 6px;
}
.nextLink2 {
  left: 937px;
}


// ============= Scene Eleven Family Pics ============== //

.amari1, .amari2 {
  position: absolute;
  width: 945px;
  left: 6px;
}

.amari1 {
  top: 20px;
}

.amari2 {
  top: 289px;
}

.amaritype {
  position: absolute;
  top: 415px;
  left: 192px;
  font-family: 'Oswald' Helvetica, sans-serif;
  font-weight: 300;
  font-size: 4.8em;
  color: #377A91;
}

// ============= Scene Twelve Freelance Carousel ============== //

.image-shown3 {
  display: inline-block;
}

.image-hidden3 {
  display: none;
}

.carousel-inner3 {
  width: 960px;
  height: 650px;
  position: relative;
  float: left;
  img {
    width: 100%;
  }
}

.carousel-outer3 {
  position: absolute;
  top: 5px;
}

.previousLink3, .nextLink3 {
  position: absolute;
  top: 295px;
  z-index: 62;
  font-size: 2.25em;
  color: #EFEFE7;
  opacity: .75;
}

.previousLink3 {
  left: 6px;
}
.nextLink3 {
  left: 937px;
}
